@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #03191E;
    color: #941C2F;
}

.apresentacao__conteudo__titulo {
    color: #531CB3;
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

h2 {
    color: #52FFB8;
}

p {
    color: #B7B6C2;
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}

.texto-destaque {
    color: #688B58;
}

.urgente {
    color: red;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 10%;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    /* background-color: #52FFB8; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #52FFB8;
    text-decoration: none;
    font-size: 24px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;
    color: #B7B6C2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.apresentacao__links__link:hover {
    border: 2px solid #0000FF;
    background-color: #272727;
    cursor: pointer;
}